version: '3.4'

services:
  app1:
    image: app1
    build:
      context: ./api-gateway
      dockerfile: ./Dockerfile
    ports:
      - "5002:5000"

  app2:
      image: app2
      build:
        context: ./image-service
        dockerfile: ./Dockerfile
      ports:
        - "5003:5000"
  app3:
      image: app3
      build:
        context: ./user-service
        dockerfile: ./Dockerfile
      ports:
        - 5004:5000

  node-app:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    ports:
      - "3002:3000"